.idea
.vscode
.DS_Store
.gocache/
/kwa/.env
/.gomodcache/
/.gocache_local/
/kwa/results/
/kwa/logs/
/kwa/build/
/.agents/
green-metrics-tool
/green-metrics-tool/
/logs/
./setup.log
.claude/
.venv/
/results/figs/
/results/results_clean.csv
/results/results_clean_runs.csv